body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: url(header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 6px 6px;
}


header h1{
    color: #fff;
    max-width: 770px;
    font-weight: 600;
    font-size: 2.1rem;
    margin: 0 auto;
    padding: 44px 10px;
    text-align: center;
}

/*skills*/

.skills{
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.skills div{
    width: 100%;
    max-width: 300px;
    text-align: center; 
    height: auto;
    margin: 15px 0;
}

.skills img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 6px;
    width: 100%;
    height: auto;
    display: block;
}

.skills h3{
    width: 100%;
    font-size: 1.625rem;
    font-weight: 500;
    margin: 27px 0 30px 0;
    max-height: 60px;
    height: 100%;
}

.skills span{
    color: green;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.skills p{
    width: 100%;
    line-height: 150%;
    font-size: 1rem;
}

/*quality*/

.quality{
    background-image: url(quality_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.quality p{
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    padding: 80px 0;
    margin: 0;
}

.discoutn{
    margin: 0 auto 30px auto;
}

.discoutn p{
    margin-top: 0;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
}

/*contacts*/

.contacts p{
    max-width: 1120px;
    padding: 40px 10px 40px 10px;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 150%;
}

.contacts a:nth-child(2){
    margin: 0 auto 40px auto;
}

.contacts a{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    width: 270px;
    margin: 66px auto 58px auto;
}

.contacts a span{
    position: absolute;
    background-image: url(icons.svg);
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont_left{
    left: -40px;
    top: 9px;
    background-position: 0 -110px;
}

.cont_right{
    right: -45px;
    top: 6px;
    background-position: 0 0;
}

footer{
    background-color: #1B1818;
    border-radius: 6px 6px 0 0;
}

footer p{
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0;
    padding: 26px 0 36px 0;
}

@media all and (min-width:540px){
    .skills{
        grid-template-columns: repeat(2, 1fr);
    }
    h1{
        font-size: 3rem;
    }
}

@media all and (min-width:1135px){
    .skills{
        grid-template-columns: repeat(4, 1fr);
    }

    .skills p{
        font-size: 1.25rem;
    }
}